.bar.bar-light {
	border-color: #FF4600;
}

.restaurantName {
	color: #FF4600;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

.restaurantInfo > p {
	color: #6F6F6F;
	font-size: 16px;
	margin-bottom: 8px;
	text-align: center;
}

.restaurantReviews > h4 {
	margin-left: 15px;
}

h4.reviewTitle, .reviewBody {
	float: left;
}

.item p {
	white-space: normal;
}

.rating {
	float: right;
}

.rating > li.ion-star {
	color: #FF4600;
	float: right;
}

.angular-google-map-container { height: 200px; }